body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  color: #020202;
  /* gradient pattern used from https://projects.verou.me/css3patterns/#seigaiha */

  background-image: radial-gradient(
      circle at 100% 150%,
      #ebebeb 24%,
      white 24%,
      white 28%,
      #ebebeb 28%,
      #ebebeb 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      #ebebeb 24%,
      white 24%,
      white 28%,
      #ebebeb 28%,
      #ebebeb 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      white 10%,
      #ebebeb 10%,
      #ebebeb 23%,
      white 23%,
      white 30%,
      #ebebeb 30%,
      #ebebeb 43%,
      white 43%,
      white 50%,
      #ebebeb 50%,
      #ebebeb 63%,
      white 63%,
      white 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      white 5%,
      #ebebeb 5%,
      #ebebeb 15%,
      white 15%,
      white 20%,
      #ebebeb 20%,
      #ebebeb 29%,
      white 29%,
      white 34%,
      #ebebeb 34%,
      #ebebeb 44%,
      white 44%,
      white 49%,
      transparent 49%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      white 5%,
      #ebebeb 5%,
      #ebebeb 15%,
      white 15%,
      white 20%,
      #ebebeb 20%,
      #ebebeb 29%,
      white 29%,
      white 34%,
      #ebebeb 34%,
      #ebebeb 44%,
      white 44%,
      white 49%,
      transparent 49%,
      transparent
    );
  background-size: 100px 50px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
